<div class="container">
  <h2><%= @list.name %></h2>
  <%= link_to 'Edit List', edit_list_path(@list) %> |
  <%= link_to 'Delete List', @list, method: :delete, data: { confirm: 'Are you sure?' } %>

  <h3>Bookmarks:</h3>
  <ul>
    <% @list.bookmarks.each do |bookmark| %>
      <li>
        <%= link_to bookmark.movie.title, movie_path(bookmark.movie) %>
        - <%= link_to 'Remove', bookmark_path(bookmark), method: :delete, data: { confirm: 'Are you sure?' } %>
      </li>
    <% end %>
  </ul>

  <%= link_to 'Add Bookmark', new_list_bookmark_path(@list) %>
<%= link_to 'Back to Lists', lists_path %>
</div>
